@font-face{
    font-family: "brand";
    src: url($fontBlack) format('truetype');
}
@font-face{
    font-family: "regular";
    src: url($fontRegular) format('truetype');
}
@font-face{
    font-family: "italic";
    src: url($fontItalic) format('truetype');
}
$font-b:"brand";
$font-p:"regular";
$font-i:"italic";
$font-brand:$font-b;
$font-titulo:$font-p;
$font-parrafo:$font-p;
body{
    font-family: $font-parrafo;
    font-size: 12pt;
}