$colorprimario: #F22327; // TODO: * Modificar color primario
$colorsecundario:rgba(255,204,41); // TODO: * Modificar color secundario
$colorcuatro:#B835AC;
$color-white:white;
$background:'media/fondo.jpg'; // TODO: * Modificar fondo de pantalla
$fontBlack: "fonts/FunnyCute.otf";
$fontRegular: "fonts/SummerBlaster.otf";
$fontItalic: "fonts/SummerBlasterItalic.otf";