$colorprimario: #F22327; // TODO: * Modificar color primario
$colorsecundario:#FAFE01; // TODO: * Modificar color secundario
$colortres:#FFCA30;
$colorcuatro:#B835AC;
$background:'media/fondo.jpg'; // TODO: * Modificar fondo de pantalla
$fontBlack: "fonts/loyola-pro-black.otf";
$fontRegular: "fonts/FunnyCute.otf";