-   
    // TODO: nombre de variable PLATES
    var combos = {
        name: "Combos",
        category: "combos",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: {
                    picture:"COMBO1",
                    extention: ".jpg"
                },
                text: "Combo 1",
                description: "2 piezas de pollo, papas fritas + gaseosa de 500 ml",
                price_uno: 32,
                price_dos: false,
                link:"combo1.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO2",
                    extention: ".jpg"
                },
                text: "Combo 2",
                description: "3 piezas de pollo, papas fritas + gaseosa de 500 ml",
                price_uno: 44,
                price_dos: false,
                link:"combo2.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO3",
                    extention: ".jpg"
                },
                text: "Combo 3",
                description: "8 piezas de pollo, papas fritas grandes + 2 gaseosas de 500 ml",
                price_uno: 89,
                price_dos: false,
                link:"combo3.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO4",
                    extention: ".jpg"
                },
                text: "Combo 4",
                description: "8 alitas de pollo, papas fritas + gaseosa de 500 ml",
                price_uno: 39,
                price_dos: false,
                link:"combo4.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO5",
                    extention: ".jpg"
                },
                text: "Combo 5",
                description: "24 alitas de pollo, papas fritas + 2 gaseosas de 500 ml",
                price_uno: 96,
                price_dos: false,
                link:"combo5.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO6",
                    extention: ".jpg"
                },
                text: "Combo 6",
                description: "6 dedos de pollo, papas fritas + gaseosa de 500 ml.",
                price_uno: 42,
                price_dos: false,
                link:"combo6.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO7",
                    extention: ".jpg"
                },
                text: "Combo 7",
                description: "2 piezas de pollo, hamburguesa DINO'S, papas fritas + gaseosa de 500 ml",
                price_uno: 69,
                price_dos: false,
                link:"combo7.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO8",
                    extention: ".jpg"
                },
                text: "Combo 8",
                description: "DINO'S burger, papas fritas + gaseosa de 500 ml",
                price_uno: 38,
                price_dos: false,
                link:"combo8.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO9",
                    extention: ".jpg"
                },
                text: "Combo 9",
                description: "Doble DINO'S burger, papas fritas + gaseosa de 500 ml",
                price_uno: 44,
                price_dos: false,
                link:"combo9.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO10",
                    extention: ".jpg"
                },
                text: "Combo 10",
                description: "Salchipapa + gaseosa de 500 ml",
                price_uno: 29,
                price_dos: false,
                link:"combo10.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO11",
                    extention: ".jpg"
                },
                text: "Combo 11",
                description: "Salchipapa familiar (500 gr) + gaseosa de 500 ml",
                price_uno: 44,
                price_dos: false,
                link:"combo11.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO12",
                    extention: ".jpg"
                },
                text: "Combo 12",
                description: "Choripan, papas fritas + gaseosa de 500 ml",
                price_uno: 26,
                price_dos: false,
                link:"combo12.html",
                status: true
            }
        ]
    }