-   
    // TODO: nombre de variable PLATES
    var hamburguesas = {
        name: "Hamburguesas",
        category: "hamburguesas",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: {
                    picture:"CLASICA",
                    extention: ".jpg"
                },
                text: "Clásica",
                description: "Hamburguesa clásica con lechuga, tomate, cebolla y guarnición a elección.",
                price_uno: 24,
                price_dos: false,
                link:"clasica.html",
                status: true
            },
            {
                img: {
                    picture:"DE_QUESO",
                    extention: ".jpg"
                },
                text: "Hamburguesa de Queso",
                description: "Hamburguesa de queso con lechuga, tomate, cebolla, salsa mayonesa y guarnición a elección.",
                price_uno: 28,
                price_dos: false,
                link:"De_Queso.html",
                status: true
            },
            {
                img: {
                    picture:"DINOS_BURGER",
                    extention: ".jpg"
                },
                text: "Dino's Burger",
                description: "Dino´s  Burger con queso, jamón, pepinillo, tomate, cebolla, lechuga, salsa BBQ y guarnición a elección.",
                price_uno: 30,
                price_dos: false,
                link:"Dinos_Burger.html",
                status: true
            },
            {
                img: {
                    picture:"DOBLE_CLASICA",
                    extention: ".jpg"
                },
                text: "Doble Clásica",
                description: "Doble hamburguesa clásica y  guarnición a elección.",
                price_uno: 30,
                price_dos: false,
                link:"Doble_Clasica.html",
                status: true
            },
            {
                img: {
                    picture:"DOBLE_DE_QUESO",
                    extention: ".jpg"
                },
                text: "Doble de Queso",
                description: "Doble hamburguesa de queso y guarnición a elección.",
                price_uno: 32,
                price_dos: false,
                link:"Doble_de_Queso.html",
                status: true
            },
            {
                img: {
                    picture:"DOBLE_DINOS",
                    extention: ".jpg"
                },
                text: "Doble Dino's Burger",
                description: "Doble Dino´s Burger y guarnición a elección.",
                price_uno: 35,
                price_dos: false,
                link:"Doble_Dinos_Burger.html",
                status: true
            }
        ]
    }