-   
    // TODO: nombre de variable PLATES
    var menu_kids = {
        name: "Kids Menú",
        category: "menu_kids",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: {
                    picture:"POLLO_DINOS_1PIEZA",
                    extention: ".jpg"
                },
                text: "Pollo Dino's",
                description: "1 pieza de pollo, papas fritas, gaseosa 500 ml y un juguete",
                price_uno: 24,
                price_dos: false,
                link:"Pollo_Dinos.html",
                status: true
            },
            {
                img: {
                    picture:"HAMBURGUESA_DINOS",
                    extention: ".jpg"
                },
                text: "Hamburguesa Dino's",
                description: "1 hamburguesa, papas fritas, gaseosa 500 ml y un juguete",
                price_uno: 28,
                price_dos: false,
                link:"Hamburguesa_Dinos.html",
                status: true
            }            
        ]
    }