-   
    var menu = [
        {
            name: "Hamburguesas",
            link: "hamburguesas.html",
            status: true
        },{
            name: "Pollos",
            link: "pollos.html",
            status: true
        },{
            name: "Combos",
            link: "combos.html",
            status: true
        },{
            name: "Kids Menu",
            link: "kids_menu.html",
            status: true
        },{
            name: "Postres y Guarniciones",
            link: "otros.html",
            status: true
        }
        ,{
            name: "Bebidas",
            link: "bebidas.html",
            status: true
        }
    ]