-   
    // TODO: nombre de variable PLATES
    var otros = {
        name: "Otros",
        category: "otros",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: {
                    picture:"CHORIPAN",
                    extention: ".jpg"
                },
                text: "Choripan",
                description: "Delicioso chorizo a la parrilla acompañado con lechuga y tomate.",
                price_uno: 18,
                price_dos: false,
                link:"Choripan.html",
                status: true
            },
            {
                img: {
                    picture:"HOT_DOG_DINO",
                    extention: ".jpg"
                },
                text: "Hot Dog",
                description: "Hot Dog con salsas a elección.",
                price_uno: 14,
                price_dos: false,
                link:"Hot_Dog.html",
                status: true
            },{
                img: {
                    picture:"DINOS_DOG",
                    extention: ".jpg"
                },
                text: "Dino's Dog",
                description: "Salchicha rebosada.",
                price_uno: 10,
                price_dos: 16,
                link:"Dinos_Dog.html",
                status: true
            },{
                img: {
                    picture:"SALCHIPAPA",
                    extention: ".jpg"
                },
                text: "Salchipapas",
                description: "Papas fritas con salchichas servidas con mayonesa y ketchup.",
                price_uno: 20,
                price_dos: false,
                link:"Salchipapas.html",
                status: true
            },{
                img: {
                    picture:"SALCHIPAPA",
                    extention: ".jpg"
                },
                text: "Salchipapa familiar",
                description: "500 gr de papas fritas con salchichas servidas con mayonesa y ketchup.",
                price_uno: 36,
                price_dos: false,
                link:"Salchipapa_familiar.html",
                status: true
            },{
                img: {
                    picture:"PAPAS_DINOS",
                    extention: ".jpg"
                },
                text: "Papas Dino's",
                description: "Papas fritas con salsas a elección.",
                price_uno: 14,
                price_dos: false,
                link:"Papas_Dinos.html",
                status: true
            },{
                img: {
                    picture:"ALMUERZO_DINOS",
                    extention: ".jpg"
                },
                text: "Almuerzo Dino's",
                description: "descripcion",
                price_uno: 18,
                price_dos: false,
                link:"Almuerzo_Dinos.html",
                status: true
            },{
                img: {
                    picture:"CENA_DINOS",
                    extention: ".jpg"
                },
                text: "Cena Dino's",
                description: "1 pieza de pollo y guarnición a elección.  (18:30 - 20:30)",
                price_uno: 18,
                price_dos: false,
                link:"Cena_Dinos.html",
                status: true
            }
        ]
    }