-   
    // TODO: nombre de variable PLATES
    var pollos = {
        name: "Pollos",
        category: "pollos",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: {
                    picture:"POLLOS_DINOS",
                    extention: ".jpg"
                },
                text: "Pollos Dino's",
                list:[
                    {
                        description: "2 piezas de pollo.",
                        price: 26
                    },
                    {
                        description: "3 piezas de pollo.",
                        price: 38
                    },
                    {
                        description: "5 piezas de pollo.",
                        price: 54
                    },
                    {
                        description: "8 piezas de pollo.",
                        price: 82
                    },
                    {
                        description: "16 piezas de pollo.",
                        price: 139
                    }
                ],
                link:"Pollos_Dinos.html",
                status: true
            },
            {
                img: {
                    picture:"ALITAS",
                    extention: ".jpg"
                },
                text: "Alitas Dino's",
                list:[
                    {
                        description: "4 alitas de pollo.",
                        price: 20
                    },
                    {
                        description: "8 alitas de pollo.",
                        price: 32
                    },
                    {
                        description: "12 alitas de pollo.",
                        price: 45
                    },
                    {
                        description: "24 alitas de pollo.",
                        price: 86
                    }
                ],
                link:"Alitas_Dinos.html",
                status: true
            },
            {
                img: {
                    picture:"DINOS_NUGGETS",
                    extention: ".jpg"
                },
                text: "Dino's Nuggets",
                list:[
                    {
                        description: "DINO'S nuggets (6 unid.).",
                        price: 22
                    },
                    {
                        description: "DINO'S nuggets (12 unid.).",
                        price: 36
                    },
                    {
                        description: "DINO'S nuggets (20 unid.).",
                        price: 59
                    }
                ],
                link:"Dinos_Nuggets.html",
                status: true
            },
            {
                img: {
                    picture:"DINOS_NUGGETS",
                    extention: ".jpg"
                },
                text: "Sandwich Dino's",
                list:[
                    {
                        description: "Sandwich Dino´s  y guarnición a elección (Pollo crocante, lechuga, tomate y salsa BBQ).",
                        price: 22
                    }
                ],
                link:"Sandwich_Dinos.html",
                status: true
            }
            
        ]
    }