-   
    // TODO: nombre de variable PLATES
    var postres_guarniciones = {
        name: "Postres y Guarniciones",
        category: "postres_guarniciones",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: {
                    picture:"TRES_LECHES",
                    extention: ".jpg"
                },
                text: "Tres Leches",
                description: "",
                price_uno: 8,
                price_dos: false,
                link:"Tres_Leches.html",
                status: true
            },
            {
                img: {
                    picture:"FLAN",
                    extention: ".jpg"
                },
                text: "Flan",
                description: "",
                price_uno: 8,
                price_dos: false,
                link:"Flan.html",
                status: true
            },
            {
                img: {
                    picture:"CHEESE_CAKE",
                    extention: ".jpg"
                },
                text: "Cheese Cake",
                description: "",
                price_uno: 10,
                price_dos: false,
                link:"Cheese_Cake.html",
                status: true
            },{
                img: {
                    picture:"BROWNIE",
                    extention: ".jpg"
                },
                text: "Brownie",
                description: "",
                price_uno: 12,
                price_dos: false,
                link:"Brownie.html",
                status: true
            },{
                img: {
                    picture:"PAPAS",
                    extention: ".jpg"
                },
                text: "Papas Fritas",
                description: "",
                price_uno: 8,
                price_dos: false,
                link:"Papas_fritas.html",
                status: true
            },{
                img: {
                    picture:"ARROZ_PRIMAVERA",
                    extention: ".jpg"
                },
                text: "Arroz Primavera",
                description: "",
                price_uno: 8,
                price_dos: false,
                link:"Arroz_primavera.html",
                status: true
            },{
                img: {
                    picture:"PLATANO_FRITO",
                    extention: ".jpg"
                },
                text: "Plátano Frito",
                description: "",
                price_uno: 8,
                price_dos: false,
                link:"Platano_frito.html",
                status: true
            },
        ]
    }