extends ../templates/template-dishes
include ../mixins/platos
block append config
    - page = hamburguesas.name
    - metadescripcion = hamburguesas.descripcion
block content
    .container
        .dishes
            // TODO: * Modificar el | INCLUDE | y la variable de objetos
            each plate in hamburguesas.content
                if(plate.status === true)
                    +platos(plate,hamburguesas.category)