extends ../templates/template-dishes
include ../mixins/platos
block append config
    - page = postres_guarniciones.name
    - metadescripcion = postres_guarniciones.descripcion
block content
    .container
        .dishes
            // TODO: * Modificar el | INCLUDE | y la variable de objetos
            each plate in postres_guarniciones.content
                if(plate.status === true)
                    +platos(plate,postres_guarniciones.category)