include ../config/menu
.menu
    .menu__body
        nav.menu__nav
            a(href="combos.html").menu__item
                img(src="media/BOTONES/COMBOS.svg", alt="").menu__btn
                span.menu__text Combos
            
            a(href="menu_kids.html").menu__item
                img(src="media/BOTONES/KIDSMENU.svg", alt="").menu__btn
                span.menu__text Kids Menu
            
            a(href="pollos.html").menu__item
                img(src="media/BOTONES/POLLOS.svg", alt="").menu__btn
                span.menu__text Pollos
            
            a(href="hamburguesas.html").menu__item
                img(src="media/BOTONES/HAMBURGUESAS.svg", alt="").menu__btn
                span.menu__text Hamburguesas
            
            a(href="otros.html").menu__item
                img(src="media/BOTONES/OTROS.svg", alt="").menu__btn
                span.menu__text otros
            
            a(href="postres_guarniciones.html").menu__item
                img(src="media/BOTONES/POSTRES_Y_GUARNICIONES.svg", alt="").menu__btn
                span.menu__text Postres y Guarniciones
            
            a(href="bebidas.html").menu__item
                img(src="media/BOTONES/REFRESCOS.svg", alt="").menu__btn
                span.menu__text Refrescos