include ../config/menu
.menu
    .menu__body
        nav.menu__nav
            a(href="combos.html").menu__item
                img(src="media/BOTONES/COMBOS.svg", alt="").menu__btn
                img(src="media/BOTONES/TEXTOBOTONES/COMBOS.svg", alt="")#combos.menu__btn-text
            
            a(href="kidsmenu.html").menu__item
                img(src="media/BOTONES/KIDSMENU.svg", alt="").menu__btn
                img(src="media/BOTONES/TEXTOBOTONES/KIDSMENU.svg", alt="")#kidsmenu.menu__btn-text
            
            a(href="pollos.html").menu__item
                img(src="media/BOTONES/POLLOS.svg", alt="").menu__btn
                img(src="media/BOTONES/TEXTOBOTONES/POLLOS.svg", alt="")#pollos.menu__btn-text
            
            a(href="hamburguesas.html").menu__item
                img(src="media/BOTONES/HAMBURGUESAS.svg", alt="").menu__btn
                img(src="media/BOTONES/TEXTOBOTONES/HAMBURGUESAS.svg", alt="")#hamburguesas.menu__btn-text
            
            a(href="otros.html").menu__item
                img(src="media/BOTONES/OTROS.svg", alt="").menu__btn
                img(src="media/BOTONES/TEXTOBOTONES/OTROS.svg", alt="")#otros.menu__btn-text
            
            a(href="postresguarniciones.html").menu__item
                img(src="media/BOTONES/POSTRES_Y_GUARNICIONES.svg", alt="").menu__btn
                img(src="media/BOTONES/TEXTOBOTONES/POSTRES_Y_GUARNICIONES.svg", alt="")#postresguarniciones.menu__btn-text
            
            a(href="refrescos.html").menu__item
                img(src="media/BOTONES/REFRESCOS.svg", alt="").menu__btn
                img(src="media/BOTONES/TEXTOBOTONES/REFRESCOS.svg", alt="")#refrescos.menu__btn-text