//- TODO: * Importar los platos que se usaran para poder usar los arreglos en las páginas
include ../config/hamburguesas
include ../config/otros
include ../config/bebidas
include ../config/postres_guarniciones
include ../config/menu_kids
include ../config/combos
include ../config/pollos
//- importamos los archivos de configuración
block config
    include ../config/config
include ../includes/head